<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="content-type" content="text/php; charset=utf-8" />
		
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chess.css') }}" />


		
        <title>Un-Chess-Ted</title>
        
        <h1> It is {{ player }}'s turn</h1>

    </head>

    <body>

        <div class="container">



            <div class="contentPane">
               <form action="" method = "POST">
				<table id="chess_board" cellpadding="0" cellspacing="0">
					<tr>
                        <td > <input id = 'A8' type="image" src="" height = "80px" width = '90px'  name = 'space' value ="A8" class="btTxt submit"/>
                        </td>
						<td > <input id = "B8" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B8" class="btTxt submit"/>
                        </td>
						<td > <input id = "C8" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C8" class="btTxt submit"/>
                        </td>
						<td > <input id = "D8" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D8" class="btTxt submit"/>
                        </td>
						<td > <input id = "E8" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E8" class="btTxt submit"/>
                        </td>
						<td > <input id = "F8" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F8" class="btTxt submit"/>
                        </td>
						<td > <input id = "G8" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G8" class="btTxt submit"/>
                        </td>
						<td > <input id = "H8" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H8" class="btTxt submit"/>
                        </td>
					</tr>
					<tr>
						<td > <input id = "A7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="A7" class="btTxt submit"/>
                        </td>
						<td > <input id = "B7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B7" class="btTxt submit"/>
                        </td>
						<td > <input id = "C7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C7" class="btTxt submit"/>
                        </td>
						<td > <input id = "D7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D7" class="btTxt submit"/>
                        </td>
						<td > <input id = "E7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E7" class="btTxt submit"/>
                        </td>
						<td > <input id = "F7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F7" class="btTxt submit"/>
                        </td>
						<td > <input id = "G7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G7" class="btTxt submit"/>
                        </td>
                        <td > <input id = "H7" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H7" class="btTxt submit"/>
                        </td>
					</tr>
					<tr>
						<td > <input id = "A6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="A6" class="btTxt submit"/>
                        </td>
						<td > <input id = "B6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B6" class="btTxt submit"/>
                        </td>
						<td > <input id = "C6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C6" class="btTxt submit"/>
                        </td>
						<td > <input id = "D6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D6" class="btTxt submit"/>
                        </td>
						<td > <input id = "E6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E6" class="btTxt submit"/>
                        </td>
						<td > <input id = "F6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F6" class="btTxt submit"/>
                        </td>
						<td > <input id = "G6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G6" class="btTxt submit"/>
                        </td>
						<td > <input id = "H6" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H6" class="btTxt submit"/>
                        </td>
					</tr>
					<tr>
						<td > <input id = "A5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="A5" class="btTxt submit"/>
                        </td>
						<td > <input id = "B5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B5" class="btTxt submit"/>
                        </td>
						<td > <input id = "C5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C5" class="btTxt submit"/>
                        </td>
						<td > <input id = "D5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D5" class="btTxt submit"/>
                        </td>
						<td > <input id = "E5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E5" class="btTxt submit"/>
                        </td>
						<td > <input id = "F5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F5" class="btTxt submit"/>
                        </td>
						<td > <input id = "G5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G5" class="btTxt submit"/>
                        </td>
						<td > <input id = "H5" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H5" class="btTxt submit"/>
                        </td>
					</tr>
					<tr>
						<td > <input id = "A4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="A4" class="btTxt submit"/>
                        </td>
						<td > <input id = "B4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B4" class="btTxt submit"/>
                        </td>
						<td > <input id = "C4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C4" class="btTxt submit"/>
                        </td>
						<td > <input id = "D4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D4" class="btTxt submit"/>
                        </td>
						<td > <input id = "E4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E4" class="btTxt submit"/>
                        </td>
						<td > <input id = "F4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F4" class="btTxt submit"/>
                        </td>
						<td > <input id = "G4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G4" class="btTxt submit"/>
                        </td>
						<td > <input id = "H4" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H4" class="btTxt submit"/>
                        </td>
					</tr>
					<tr>
						<td > <input id = "A3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="A3" class="btTxt submit"/>
                        </td>
						<td > <input id = "B3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B3" class="btTxt submit"/>
                        </td>
						<td > <input id = "C3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C3" class="btTxt submit"/>
                        </td>
						<td > <input id = "D3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D3" class="btTxt submit"/>
                        </td>
						<td > <input id = "E3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E3" class="btTxt submit"/>
                        </td>
						<td > <input id = "F3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F3" class="btTxt submit"/>
                        </td>
						<td > <input id = "G3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G3" class="btTxt submit"/>
                        </td>
						<td > <input id = "H3" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H3" class="btTxt submit"/>
                        </td>
					</tr>
					<tr>
						<td > <input id = "A2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="A2" class="btTxt submit"/>
                        </td>
						<td > <input id = "B2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B2" class="btTxt submit"/>
                        </td>
						<td > <input id = "C2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C2" class="btTxt submit"/>
                        </td>
						<td > <input id = "D2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D2" class="btTxt submit"/>
                        </td>
						<td > <input id = "E2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E2" class="btTxt submit"/>
                        </td>
						<td > <input id = "F2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F2" class="btTxt submit"/>
                        </td>
						<td > <input id = "G2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G2" class="btTxt submit"/>
                        </td>
						<td > <input id = "H2" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H2" class="btTxt submit"/>
                        </td>
					</tr>
					<tr>
						<td > <input id = "A1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="A1" class="btTxt submit"/>
                        </td>
						<td > <input id = "B1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="B1" class="btTxt submit"/>
                        </td>
						<td > <input id = "C1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="C1" class="btTxt submit"/>
                        </td>
						<td > <input id = "D1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="D1" class="btTxt submit"/>
                        </td>
						<td > <input id = "E1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="E1" class="btTxt submit"/>
                        </td>
						<td > <input id = "F1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="F1" class="btTxt submit"/>
                        </td>
						<td > <input id = "G1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="G1" class="btTxt submit"/>
                        </td>
						<td > <input id = "H1" type="image" src='' height = "80px" width = '90px'  name = 'space' value ="H1" class="btTxt submit"/>
                        </td>
					</tr>
				</table>
                </form>
            </div>
        </div>
        <script>
    
            var board_images = JSON.parse('{{ image_dict|safe }}');
            var moves = JSON.parse('{{ availiable_moves|safe }}');

            
            //loop through dictionary and map each img url to its table entry 
            for (let space in board_images) {
                 document.getElementById(space).src = String(board_images[space]);


            }
            
            //loop through list of moves and highlight each box
            var i;
            for (i = 0; i < moves.length; i++) { 
              document.getElementById(moves[i]).style.border = "2px solid rgb(250, 255, 55)"
            }
            

        </script>
    </body>
    

</html> 
    
    

