
<html>
    <head>
<!-- 		<meta http-equiv="content-type" content="text/php; charset=utf-8" /> -->
		
        <link href="{{ url_for('static', filename='multiplayer.css') }}" rel="stylesheet" media="screen">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <title>Un-Chess-Ted</title>
        

		<div class = 'title'>
            <h1>MultiPlayer</h1>
        </div>
        <script>  //This script just adds functionality to navigate and select spaces using only the keyboard
            buttonOrder = ["Play", 'back'];
            selected = null

                function selectItem(name) {
                selected = name;
                if(selected == 'Play'){
                    document.getElementById('Play').style.border = "2px solid black";
                    document.getElementById('back').style.border = "none";
                }
                else{
                    document.getElementById('Play').style.border = 'none';
                    document.getElementById('back').style.border = "2px solid black";
                }
                
            }

            function selectUp() {
                if (selected == null) {
                    selectItem(buttonOrder[0]);
                } else {
                    index = buttonOrder.indexOf(selected);
                    index = (index - 1);
                    if (index < 0) index = 0
                    console.log(index)
                    selectItem(buttonOrder[index])
                }
            }

            function selectDown() {
                if (selected == null) {
                    selectItem(buttonOrder[0]);
                } else {
                    index = buttonOrder.indexOf(selected);
                    index = (index + 1) % buttonOrder.length;
                    console.log(index)
                    selectItem(buttonOrder[index])
                }
            }



            $(document).keydown(function(event) {
 
                if (event.keyCode == 38) {
                    selectUp()	
                } 
                else if (event.keyCode == 40) {
                    selectDown()	
                }
                else if (event.keyCode == 13) {
                    $('#' + selected).click();
                }
            })
        </script> 
        
     
        
    </head>

    <body>
      <div class="container">
    
          <br>
          <form action="" method="post" class = "players">
             <label for="firstname">Player one name:</label>
            <input id = 'p1'type="text" name="firstname" value="{{
              request.form.firstname }}">
              <br>
              <br>
              <label for="secondname">Player two name:</label>
             <input id = 'p2' type="text" name="secondname" value="{{
              request.form.secondname }}">
              <br>
              <br>
            <input id = 'Play' class="btn btn-default" type="submit" value="Play" name = 'Play'>
              <br>
            <input type = 'submit' name = 'Back' value = 'Back' class  = 'back' id = 'back' >
          </form>
         
    </div>

    </body>


</html>