
<html>
    <head>
<!-- 		<meta http-equiv="content-type" content="text/php; charset=utf-8" /> -->
		
        <link href="{{ url_for('static', filename='multiplayer.css') }}" rel="stylesheet" media="screen">
        <title>Un-Chess-Ted</title>
        

		<div class = 'title'>
            <h1>MultiPlayer</h1>
        </div>
     
        
    </head>

    <body>
      <div class="container">
    
          <br>
          <form action="" method="post" class = "players">
             <label for="firstname">Player one name:</label>
            <input type="text" name="firstname" value="{{
              request.form.firstname }}">
              <br>
              <label for="secondname">Player two name:</label>
             <input type="text" name="secondname" value="{{
              request.form.secondname }}">
              <br>
              <br>
            <input class="btn btn-default" type="submit" value="Play">
          </form>
         
    </div>

		<script src="chess.js"></script>
    </body>


</html>